@model MvcApplication.Models.CalcView

@{
    ViewBag.Title = "Расчет платежей";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<h2>Расчет платежей</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Исходные данные</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Sum)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Sum)
            @Html.ValidationMessageFor(model => model.Sum)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ExchangeRate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ExchangeRate)
            @Html.ValidationMessageFor(model => model.ExchangeRate)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.NDS)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.NDS)
            @Html.ValidationMessageFor(model => model.NDS)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CountPayment)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CountPayment)
            @Html.ValidationMessageFor(model => model.CountPayment)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.FirstDate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FirstDate)
            @Html.ValidationMessageFor(model => model.FirstDate)
        </div>

        <p>
            <input type="submit" value="Рассчитать" />
        </p>
    </fieldset>
}

<div>
    @if (Model != null)
    {
        <table border="1">
            <tr>
                <td>
                    Дата платежа
                </td>
                <td>
                    Сумма
                </td>
            </tr>
            @foreach (var item in Model.PaymentShedule)
            {
                <tr>
                    <td>
                        @item.Date.ToString("dd.MM.yyyy")
                    </td>
                    <td>
                        @item.Sum
                    </td>
                </tr>
            }
        </table>
        <p>
            Итого: @Model.TotalSum.ToString()
        </p>
    }
</div>

